@using ProyectoFinalSalones.Controllers
@model ViewModel

@{
    ViewBag.Title = "Index";
    int coincidencias = 0;
    int numAlquilerCerrado = 0;
}

<h2>Salones para Rentar</h2>


<table class="table">

    <tr>
        <th>
            Imagen
        </th>
        <th>
            Nombre
        </th>
        <th>
            Direccion
        </th>
        <th>
            Superficie (m2)
        </th>
        <th>
            Disponibilidad
        </th>

        <th></th>
    </tr>



    @foreach (Salone salon in Model.salones)
    {
        coincidencias = 0;
        numAlquilerCerrado = 0;
        <tr>

            @foreach (Transaccione transaccion in Model.transaccion)
            {
                if (transaccion.Salon_Id == salon.Id)
                {
                    coincidencias++;

                    if (DateTime.Now > transaccion.FechaFin)
                    {
                        numAlquilerCerrado++;
                    }
                    if (DateTime.Now >= transaccion.FechaInicio && DateTime.Now <= transaccion.FechaFin)
                    {
                        salon.Disponibilidad = false;
                    }
                    else
                    {
                        if (DateTime.Now < transaccion.FechaInicio)
                        {
                            numAlquilerCerrado++;
                        }
                        salon.Disponibilidad = true;
                    }
                }

            }
            @if (coincidencias == numAlquilerCerrado)
            {
                salon.Disponibilidad = true;
            }
            else
            {
                salon.Disponibilidad = false;
            }
            <td>
                <img src="~/Public/Icons/@(String.IsNullOrEmpty(salon.Imagen) ? "Salon.png" : salon.Imagen)" style="height:75px; width:75px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => salon.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => salon.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => salon.Superficie)
            </td>

            @if (salon.Disponibilidad)
            {
                <td style="color:green">
                    SALON LIBRE
                </td>
            }
            else
            {
                <td style="color:red">
                    SALON EN USO
                </td>
            }


            <td>

                @Html.ActionLink("Detalles", "DetallesLista", new { id = salon.Id }) |

            </td>
        </tr>
    }

</table>
