@{
    ViewBag.Title = "Inicio";
}

<head>


</head>

<div class="header">

    <div class="middle">
        <h1>Te ayudamos a encontrar el local de tus sueños.</h1>
    </div>


    <p class="lead">
        En SUPER SALONES podrás encontrar todo tipo de salones de tu interes, con todos los tamaños, colores y temáticas que puedas imaginar.
    </p>
    <p><a href="~/Salones/Lista" class="btn btn-primary btn-lg">Haz click aquí para rentar algún salón &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Únete como cliente!</h2>
        <p>Al formar parte de nuestros clientes serás capaz de rentar los salones que tenemos disponibles para ti. </p>
        <p><a class="btn btn-default" href="~/Clientes/Create">¿Qué esperas para unirte? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Únete como propietario!</h2>
        <p>Al formar parte de nuestros propietarios serás capaz de registrar y modificar salones a tu nombre para que estos puedan ser rentados por nuestros clientes. </p>
        <p><a class="btn btn-default" href="~/Propietarios/Create">¿Qué esperas para unirte? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registra un nuevo salon!</h2>
        <p> ¿Ya eres propietario? Registra tus salones para que nuestros clientes tengan acceso a poder rentarlo. Coloca todos los detalles que consideres necesarios! </p>
        <p><a class="btn btn-default" href="~/Salones/Create">Empieza aquí &raquo;</a></p>
    </div>
</div>